/*Structure*/
html {
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

body {
  background-image: url(assets/main_background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0; /* Remove default padding */
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/*Text*/
h1 {
  color: white;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 64px;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

h6 {
  color: white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Features*/
.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-row img {
  width: 70px; /* Adjust image size */
  height: auto;
  border-radius: 50%;
}
  
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: right;
}

.nav-list li {
  display: inline-block;
}

.nav-link {
  display: block;
  color: red;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: white;
  font-weight: bold;
  margin: 5px;
}

.bio-button {
  background-color: white;
  color: red;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  box-shadow: 5px 5px 10px red;
}

.designer {
  color: red;
}
