html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/main_background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 64px;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

h6 {
  color: white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items */
  align-items: center; /* Align items */
  gap: 10px; /* Space between items */
  max-width: 100%; /* Ensure it doesn't overflow */
}

.image-row img {
  width: 20%; /* Adjust this percentage as needed */
  max-width: 70px; /* Set a max width */
  height: auto; /* Keep aspect ratio */
}
  
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  text-align: right;
}

.nav-list li {
  display: inline-block;
}

.bio-button {
  background-color: white;
  color: red;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  box-shadow: 5px 5px 10px red;
}

.designer {
  color: red;
}

.nav-link {
  display: block;
  color: red; /* Text color */
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: white; /* White background for nav links */
  font-weight: bold;
  margin: 5px;
}

.page-button {
  display: block;
  color: red; /* Text color */
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: #C0C0C0; /* Gray background for page button */
  font-weight: bold;
  margin: 5px;
}
