/* Base Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

body {
  background-image: url(assets/main_background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 64px;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  color: white;
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-size: 12px;
}

h6 {
  color: white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.image-row img {
  width: 20%;
  max-width: 70px;
  height: auto;
  border-radius: 15px; /* Rounded corners */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  text-align: right;
}

.nav-list li {
  display: inline-block;
}

.nav-link, .page-button {
  display: block;
  color: red;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: white;
  font-weight: bold;
  margin: 5px;
}

.bio-button {
  display: block;
  color: red;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: white;
  font-weight: bold;
  margin: 5px;
}

.page-button {
  background-color: #C0C0C0;
}

.designer {
  color: red;
}

.link-container {
  display: inline-block; /* Allow the link and cost to be inline */
  text-align: left; /* Align text to the left within the container */
  width: 300px; /* Set a fixed width for alignment */
  margin: 0 auto; /* Center the container */
  text-align: center;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 500px) {
  .image-row img {
    width: 40%;  /* Adjust for smaller screens */
    max-width: 100px;
    border-radius: 10px; /* Smaller border-radius for mobile */
  }
  
  h1 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 10px;
  }
}
