/* Base Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

body {
  background-image: url(../assets/main_background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  display: flex; /* Enables flexbox */
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: start; /* Align content to the top */
}


/*custom elements*/
page-title, titles {
  display: block;
  margin: 0 auto; /* Centers the elements */
  text-align: center; /* Centers the text inside */
  color: white; /* Sets the text color */
}


/*h1*/
page-title {
  font-family: "Impact", sans-serif; /* Bold font for main title */
  font-size: 64px; /* Large font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
  position: relative; /* For adjusting position */
  top: 20px; /* Adjusts vertical position from top */
}

/*h3*/
titles {
  font-family: "Arial Black", sans-serif; /* Bold font for subtitle */
  font-size: 24px; /* Slightly smaller size for subtitle */
  text-transform: uppercase; /* Uppercase subtitle */
  margin-top: 20px; /* Space between title and subtitle */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Subtle shadow for better visibility */
  position: relative; /* For adjusting position */
  top: 40px; /* Adjusts vertical position independently */
}

h6 {
  color: white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.designer {
  color: red;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  text-align: right;
}

.nav-list li {
  display: inline-block;
}

.nav-link, .page-button {
  display: block;
  color: red;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px red;
  background-color: white;
  font-weight: bold;
  margin: 5px;
}
  
.page-button {
  background-color: #C0C0C0;
}
